apiVersion: gateway.networking.k8s.io/v1alpha2
kind: GRPCRoute
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  parentRefs:
  - name: {{ .GatewayName }}-gateway
    namespace: default
{{- if .Hostname }}
  hostnames:
  - {{ .Hostname }}
{{- end }}
  rules:
  - backendRefs:
    - name: {{ .BackendName }}
      port: {{ .BackendPort }}

