{{- range $i, $ns := .Namespaces -}}
{{- if $i }}
---
{{ end -}}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ $ns }}
  labels:
    app: {{ $.AppName }}
{{- if $.IstioEnabled }}
    istio-injection: enabled
{{- end }}
{{ end -}}

